*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
}

h3{
font-family: Montserrat;
font-weight: bold;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav-link{
color: #000000;
}

a{
color: #000000;
text-decoration: none;
}
p{
    color: #555;
}
.container{
    color: #000000;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

    font-family: Montserrat;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 65px;
    line-height: 70px;
    margin: 25px 0;
    padding-left: 200px;
}

.col-2 p {
        font-size: 30px;
        margin: 0 50px 0 200px; 
    }

.col-2 hr{
    max-width: 82%;
}
.col-2.img2 {
        max-width: 100%;
        margin-left: 50px;
}

.shopbtn{
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 8px 30px;
    margin-left: 950px;
    border-radius: 30px;
    transition: background 0.5s;
}

.shopbtn:hover{
    background: #424242;
}

.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    font-family: Montserrat;
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title:after{
    content: '';
    background: #D4AF37;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4:hover{
    transform: translateY(-5px);
}
.footer{

    color: #8a8a8a;
    font-size: 14px;
    padding: 60px;
    margin-top: 40px;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #0f0f0f;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.content-line{
margin: 100px auto 0px auto;
width: 1200px;
}

/**Homepage**/

.slogan-1{
font-family: Montserrat; 
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
color: #000000;
}

.slogan-2{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #D4AF37;
}


.homepage-video{
text-align: center;
margin: 100px auto 100px auto;
}

.video-title{
font-size: 48px;
font-family: Dancing Script;
margin-bottom: 50px;
}

.social-media{
text-align: center;
margin: 100px auto 200px auto;
width: 1000px;
}

.social-media-text{
font-size: 36px;
font-family: Montserrat;
font-weight: bold;
margin-bottom: 50px;
}

.social-media-pics{
display: grid;
grid-template-columns: 500px 500px;
margin-bottom: 100px;
}

.social-media-black-logo{
margin-left: 30px;
transition: transform 0.5s;
}

.social-media-black-logo:hover{
transform: translateY(-5px);
}

.facebook-black{
width: 140px;
height: 120px;
}

.instagram-black{
width: 150px;
height: 120px;
}



.offercontainer {
    height: 850px;
    background-image: url(Images/img12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.offer {
    margin-left: 750px;
    font-family: Montserrat;
    font-size: 80px;
    padding-top: 250px;
}



/***about us page**/

.description{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 50px;
}
.founder{
    text-align: center;
}

/***contact us***/

.contact{
    text-align: center;
    font-size: 24px;
}
.details{
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
}

.form{
    text-align: center;
    margin-top: 30px;

}
.heading2{
    text-align: center;
    margin-bottom: 20px;
}

.message-form{
margin: 50px 0px 0px 375px;
}

.form-input{
margin-top: 20px;
min-height: 30px;
min-width: 500px;
}

.message-input{
margin-bottom: 10px;
height: 100px;
width: 500px;
}

/*My account page*/

.account-text{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Montserrat;
}

.account-container{
    margin: auto;
    border: 1px solid #000000;
}

.account-container ul{
    list-style-type: none;
}

.account-container ul li{
    border: 1px solid #000000;
    padding: 8px;

}

.selected{
    background-color: #000000;
    color: white;
}

.row {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 22px;
    margin-top: 30px;
}
.account-info{
    display: block;

}
.account-button{
    display: inline-block;
    background: #000000;
    font-family: Montserrat;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}
.account-input{
    margin-bottom: 10px;
    min-height: 40px;
    min-width: 200px;
    font-family: Montserrat;
}

.message-form{
margin: 50px 0px 0px 250px
}

/***Login and registration pages*/


.website-login{
display: block;
margin-top: 90px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;

width: 892px;
height: 1298px;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;

}

.login-title{
margin-top: 50px;
margin-left: 350px;
margin-right: auto;
margin-bottom: 40px;

width: 344px;
height: 87px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 78px;

color: #000000;

}


.sign-up-title{
margin-top: 50px;
margin-left: 310px;
margin-right: auto;
margin-bottom: 40px;

width: 344px;
height: 87px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 78px;

color: #000000;
}


.login-subtitle{
display: block;
margin-top: 20px;
margin-left: 280px;

width: 392px;
height: 57px;


font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
}

.not-member-yet{
color: #000000;
}

.sign-up{
color: #D4AF37;
}
.sign-up:hover{
color: #FFDF00
}

.login-logo{
width: 75px;
height: 66px;

position: relative;
top: 20px;
left: 20px;

}

.login-container{
width: 528px;
height: 100px;

margin-top: 50px;
margin-left: 190px;
}

.login-text{
font-family: Cabin;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;

position: relative;
left: 200px;
bottom: 30px;
}


.facebook-container{
background: #0365D8;
}

.google-container{
background: #479CFF;
}

.or-container{
position: relative;
top: 160px;
left: 440px;
}

.or-text{
width: 33px;
height: 42px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 30px;

color: #000000;
}

.or-line-1{
position: absolute;
top: 10px;
right: 920px;
width: 289px;
height: 0px;
border: 0.5px solid #d1d1d1;
}

.or-line-2{
position: absolute;
top: 10px;
left: 80px;
width: 289px;
height: 0px;
border: 0.5px solid #d1d1d1;
}

.login-with-email-container{
position: relative;
left: 250px;
top: 250px;

text-align: center;

width: 430px;
height: 67px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;

}

.login-with-email-text{
padding-top: 10px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;

color: #000000;
}

.privacy-policy-container{
position: relative;
left: 200px;
top: 300px;

width: 645px;
height: 49px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #777474;

}


/**Sign up with email**/

.form-control {
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  left: 200px;
  width: 500px;
}

.form-control label{
  display: inline-block;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 24px;
}

.form-control input {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 1px solid #000000;
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input{
  border-color: #2ecc71;
}

.form-control.error input{
  border-color: #e74c3c;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle{
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

.sign-up-button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  display: block;
  font-family: Montserrat;
  font-size: 21px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 310px;
  padding: 18px;
  width: 300px;
}

.or-sign-up-text{
width: 400px;
height: 42px;

position: absolute;
right: 570px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 30px;

color: #000000;
}

.or-line-3{
position: absolute;
top: 10px;
right: 1010px;
width: 200px;
height: 0px;
border: 0.5px solid #d1d1d1;
}

.or-line-4{
position: absolute;
top: 10px;
left: 170px;
width: 200px;
height: 0px;
border: 0.5px solid #d1d1d1;
}

.or-sign-up-container{
position: relative;
top: 60px;
left: 440px;
}

.or-sign-up-social-media{
position: relative;
top: 140px;
left: 350px;
}

.or-sign-up-social-media-logo{
width: 75px;
height: 66px;
margin: 20px;
}

/*----Product Shop----*/

.browsetitle {
    margin-top: 50px;
    position: center;
    font-family: Montserrat;
    font-size: large;

}

.hline {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0;
    padding: 0;
}

.spanimg {
    height: 300px;
}

.slogan1 {
    margin-left: 1100px;
    font-family: Montserrat;
    font-size: 80px;
    padding-top: 300px;
    font-weight: bold;
    color: #000000;
}

.titlecontainer {
    height: 900px;
    background-image: url(Images/img6.jpg);
}

.slogan2 {
    margin-left: 1100px;
    font-family: Montserrat;
    color: #000000;
}

.img1 {
    display:block;
}


.btn {
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #424242;
}

.heading2{
    margin-top: 30px;
}

.message-form{
    text-align: center;
    display: inline-block;
}

/*Product Info Page*/

.line15{
position: absolute;
width: 410px;
height: 0px;
left: 54px;
top: 438px;
border: 2px solid #000000;
}

.line16{
position: absolute;
width: 428px;
height: 0px;
left: 1005px;
top: 438px;
border: 2px solid #000000;

}



.productInformationHeader{
position: absolute;
width: 468px;
height: 78px;
left: 540px;
top: 404px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 55px;

color: #000000;
}



.image13{
position: absolute;
width: 566px;
height: 784px;
left: 57px;
top: 573px;

background: url(image.png);

}



.Rectangle43{

position: absolute;
width: 703px;
height: 790px;
left: 682px;
top: 567px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
}



.productName{
position: absolute;
width: 215px;
height: 53px;
left: 922px;
top: 600px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;

color: #000000;
}



.productPrice{
position: absolute;
width: 96px;
height: 43px;
left: 986px;
top: 653px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;
}



.productQuantity{
position: absolute;
width: 170px;
height: 27px;
left: 865px;
top: 772px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;

color: #000000;
}



.productSize{
position: absolute;
width: 68px;
height: 40px;
left: 901px;
top: 880px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;
}

.productQuantityBox[type=number]{

position: absolute;
width: 203px;
height: 53px;
left: 1044px;
top: 762px;
padding: 16px 20px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;

}


select{
position: absolute;
width: 203px;
height: 53px;
left: 1044px;
top: 876px;
padding: 16px 20px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;

}



.addToBasketBox{

position: absolute;
width: 421px;
height: 70px;
left: 843px;
top: 1076px;
font-size: 24px;

background-color: white;
color: black;

}



.button3:hover {
background: #000000;
color: white;
}



.addToWishlist{

position: absolute;
width: 228px;
height: 45px;
left: 934px;
top: 1227px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 34px;
padding: 0;
border: none;
background: none;
text-decoration: underline;
}



.product-desc-title {
position: absolute;
width: 680px;
height: 88px;
left: 112px;
top: 1464px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 55px;
color: #000000;
}



.product-desc {
position: absolute;
width: 1209px;
height: 272px;
left: 116px;
top: 1569px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;
color: #000000;
}



.boxed{
position: absolute;
width: 1334px;
height: 554px;
left: 51px;
top: 1412px;
background-color: none;
border: 1px solid #000000;
box-sizing: border-box;
opacity: 0.6;
}

/***what are customer says***/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.customer{
    margin-top: 20px;
}
.fa.fa-quote-left{
    font-size: 12px;
    color: #D4AF37;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.rating{
    color: #D4AF37;
}

